 .blog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
    background-color: var(--main-bg-color);
}

.main-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
}
.p1{
    display: flex;
    flex-direction:column;
    margin-top: 95px;
}

.text{
    margin-left: 75px;
    max-width: 150vh;
}

 .dora{
    display: flex;
    margin-top: 30px;
    min-width: 150vh;
    margin-left: 90px;

}
.dora .day-time{
    display: flex;
    margin-top: 15px;
}

.dora .day-time{
    margin-top: 13px;
    margin-left: 41px;
}



.icons{
    margin-left:302px;
    margin-top: 11px;
}


.dora .image img{
    width: 56px;
    margin-left: 17px;
}

hr{
    max-width: 129vh;
    margin-left: 112px;

}
.text h1{
    font-weight: 700;
    color: black;
    margin-top: 25px;
    margin-left: 40px;

}

.text .lower-text{
   padding: 30px;
}

.text img{
    margin-left: 5px;
}

.main-section .text img{
    width: 137vh;
    margin: 30px;
    margin-left: 30px;
}

.main-section{
    max-width: 80vh;
    margin-top: 50px;
}

.grey{
    color:hsl(216, 15%, 52%);
    margin: 40px;
}
.p2{
    margin-top: 136px;
}

.p2 img{
    margin-top: 40px;
}
    

.btn-3{
    padding: 5px 15px;
    border: 2px solid var(--main-bg-color);
    border-radius: 83px;
    font-family: var(--font-1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 7px;
    margin-top: 5px;
    background-color: var(--main-bg-color);
    width: 286px;
}

.btn-3:hover{
    color: white;
}

.white{
    background-color: #fff;
    border: 2px solid grey;
}

.white input{
    border: none;
}

.buttoms{
    display: flex;
}

.Followers{
    margin: 2px;
}

.desc{
    margin: 5px;
}

.text h2{
    margin-left: 30px;
}

.text h4{
    margin-left: 40px;
}

.para{
    margin-left: 30px;
    padding: 20px;
}

.typeface{
    margin:20px;
}

.serif{
    margin: 10px;
}

.blue{
    background-color: rgba(5, 195, 221 ,0.2);
}


.card-3{
background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0 ,0 , 0.2);
    padding: 20px;
    padding: 10px;
    display: flex;
    margin: 25px;
    animation: slideInFromRight 1.25s ease-in;
}

@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0);
    }
}

@media(max-width: 412px){
    
   footer{
    width: 1600px;
    height: 350px;
    }
    
    .main-section{
        grid-template-columns: 1fr;
    }

    .p2{
     margin-left: 400px;
    }

    .card-3{
        margin-right: 100px;
    }

    .card-3 img{
        margin-left: 400px;
    }

    
}